body{
    background: #fff;
}

.navbar {
    position: sticky !important;
    top: 0;
    display: flex !important;
    align-items: center !important;

}

.nav-link {
    background: #e7e7e7 !important;
    color: #111 !important;
    margin: 0 5px;
}

.active {
    background: #fce000 !important;
}

.sections {
    height: 100vh;
    background: #fff;
    margin-bottom: 15px;
}

.nav{
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: scroll !important   ;
    width: 90% !important;
    margin-top: 5px;
}

.nav::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.nav li a{
    white-space: nowrap !important  ;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--clr-white);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: var(--transition);
}
.hide-preloader {
  z-index: -999;
  visibility: hidden;
}